/* BEGIN Light */
@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Light/Inter-Light.ttf?v=1.1.0") format("ttf"); 
    font-weight: 300;
    font-style: normal;
}


/* BEGIN Light Italic */
@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/LightItalic/Inter-LightItalic.ttf?v=1.1.0") format("ttf");
    font-weight: 300;
    font-style: italic;
}



/* BEGIN Italic */
@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Italic/Inter-Italic.ttf?v=1.1.0") format("ttf"); 
    font-weight: normal;
    font-style: italic;
}


/* BEGIN Semibold */
@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Semibold/Inter-Semibold.ttf?v=1.1.0") format("ttf"); 
    font-weight: 600;
    font-style: normal;
}




/* BEGIN Bold */
@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Bold/Inter-Bold.ttf?v=1.1.0") format("ttf"); 
    font-weight: 700;
    font-style: normal;
}



/* BEGIN Extrabold */
@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/ExtraBold/Inter-ExtraBold.ttfv=1.1.0") format("ttf"); 
    font-weight: 800;
    font-style: normal;
}

